In [2]:
#Importing scraped data 
finale_car=pd.read_csv("new_cars.csv")
finale_car.drop(columns="Unnamed: 0",inplace=True)

In [1]:
#Importing scraped data need enconding or dataa wont load 
import pandas as pd
import re
car=pd.read_csv('cars1.csv',encoding = "ISO-8859-1",header=None,names=["Name","Year","Miles","Location","Extrior","Style","Interior","MPG","Engine","Transmission","DriveType","FuelType","Price","Vin","remove",],skip_blank_lines=True)
cary=car.drop(columns=["remove"])
cars=cary.dropna(axis=0)
dirty_cars=cars.reset_index()
clean_ca=dirty_cars.drop(columns='index')
clean_ca.drop(index=0,inplace=True)
clean_ca.reset_index(inplace=True)
clean_car=pd.DataFrame(clean_ca)
clean_car.drop(columns=['index'],inplace=True)
clean_cars=clean_car.copy()
Name=clean_car['Name']

In [2]:
car_colors=pd.read_csv('Colors.csv',header=None,names=['Color'])

In [3]:
#Loop through dataset to split and get wanted data
for i in range(len(Name)):
    clean_cars['Year'][i]=clean_car['Name'][i][0:4]
    clean_cars['Name'][i]=clean_car['Name'][i][4:]
    clean_cars['Miles'][i]=clean_car['Miles'][i][:-5]
    clean_cars['Extrior'][i]=clean_car['Extrior'][i][14:]
    clean_cars['Style'][i]=clean_car['Style'][i][5:]
    clean_cars['Interior'][i]=clean_car['Interior'][i][14:]
    clean_cars['MPG'][i]=clean_car['MPG'][i][3:]
    clean_cars['Engine'][i]=clean_car['Engine'][i][6:]
    clean_cars['Transmission'][i]=clean_car['Transmission'][i][12:]
    clean_cars['DriveType'][i]=clean_car['DriveType'][i][10:]
    clean_cars['FuelType'][i]=clean_car['FuelType'][i][9:]
    clean_cars['Price'][i]=clean_car['Price'][i][1:]
    clean_cars['Vin'][i]=clean_car['Vin'][i][5:]

In [4]:
#removing commas from prices
for i in range(len(Name)):
    clean_cars['Price'][i]=clean_cars['Price'][i].replace(",", "")

In [5]:
gaz=clean_cars["FuelType"]
pd.unique(gaz)

array(['Gas', 'Hybrid', 'Electric', 'Diesel', 'Plug-In', 'eFWD', 'CNG',
       'e4WD'], dtype=object)

In [6]:
ihs=clean_cars["Price"]
pd.unique(ihs)

array(['68362 ', '13836 ', '13277 ', ..., '34577 ', '28597 ', '11389 '],
      dtype=object)

In [7]:
sh=clean_cars["Engine"]
U_Engine=pd.unique(sh)

In [8]:
names=clean_cars["Name"]
U_names=pd.unique(names)

In [9]:
mihs=clean_cars["MPG"]
U_mpg=pd.unique(mihs)

In [10]:
clean_cars = clean_cars[clean_cars.FuelType !="Diesel"]
clean_cars.reset_index(inplace=True)
clean_cars.drop(columns=['index'],inplace=True)

In [11]:
clean_cars = clean_cars[clean_cars.FuelType !="Hybrid"]
clean_cars.reset_index(inplace=True)
clean_cars.drop(columns=['index'],inplace=True)

In [12]:
clean_cars = clean_cars[clean_cars.FuelType !="Plug-In"]
clean_cars.reset_index(inplace=True)
clean_cars.drop(columns=['index'],inplace=True)

In [13]:
clean_cars = clean_cars[clean_cars.Price !="uel TypeGas"]
clean_cars.reset_index(inplace=True)
clean_cars.drop(columns=['index'],inplace=True)

In [14]:
clean_cars = clean_cars[clean_cars.MPG !="N/A cty / N/A hwy"]
clean_cars.reset_index(inplace=True)
clean_cars.drop(columns=['index'],inplace=True)

In [15]:
electric=clean_cars.loc[clean_cars['Engine'] == "L - Electric"]
electric.reset_index(inplace=True)
for z in range(len(electric)):
    index_number=electric['index'][z]
    clean_cars.drop(index=index_number,inplace=True)

In [16]:
clean_car1=clean_cars.copy()
clean_car1.set_index('Vin',inplace=True)
clean_car1.reset_index(inplace=True)

In [17]:
colu=clean_car1["Extrior"]
colur=pd.unique(colu)

array(['Quartzite Metallic', 'Taffeta White', 'Phantom Black', ...,
       'Olympus Silver Metallic', 'Nimbus Gray Metallic',
       'Deep Blue Opal Metallic'], dtype=object)

In [5]:
colu=finale_car["Extrior"]
colur=pd.unique(colu)

In [18]:
years=clean_car1.Year
Names=clean_car1.Name

In [19]:
YNam=[]
for i in range(len(Names)):
    new_name=years[i]+Names[i]
    YNam.append(new_name)

In [20]:
new_names=pd.unique(YNam)
N_df=pd.DataFrame(new_names,columns=['Name'])

In [21]:
Years=[]
Names=[]
for i in range(len(new_names)):
    yeh=N_df['Name'][i][0:4]
    Yeh=N_df['Name'][i][4:]
    Years.append(yeh)
    Names.append(Yeh)
N_df["Name"]=Names
N_df["Year"]=Years

In [22]:
car_brand=pd.read_csv('allcarbrand.csv',header=None,names=['Brand'])

In [23]:
d=N_df.Name
brand=car_brand.Brand
list_brand = []
Equal=[]
equals=[]
columns=["A","B"]
P_df=pd.DataFrame(index=range(1829),columns=columns)

for c in d:
    zed=c.lower()
    for b in brand:      
        br=b.lower()
        if br in zed:
            Equal.append(br)
            equals.append(c)
            list_brand.append(b)
P_df["A"]=Equal
P_df["B"]=equals
m=equals[1664]

In [24]:
#getting unique brands and checking if there in the df before
renum=[]
for i in range(1829):
    j=1
    while j<1829:
        if Equal[i]!=P_df['A'][j]:
            if equals[i]==P_df["B"][j]:
                renum.append(j)
        j=j+1

In [25]:
new_m=pd.unique(renum)
new_mm=new_m.tolist()
new_mm

[654, 960, 1413, 1622, 653, 959, 1412, 1621, 1665, 1664, 1751, 1750]

In [26]:
#removing duplicates that might have join
import sys as sys
for i in range(len(new_mm)):
    j=1
    while j <len(new_mm):
        if new_mm[i]-new_mm[j]==1:
            rem=new_mm[j]
            new_mm.remove(rem)
        else:
           break
        j=j+1

In [27]:
for i in range(len(new_mm)):
    life=new_mm[i]
    m=equals[life]
    N_df.drop( N_df[ N_df['Name'] == m].index , inplace=True)

In [30]:
N_df.reset_index(inplace=True)
N_df.drop(columns=["index"],inplace=True)

In [31]:
d=N_df.Name
brand=car_brand.Brand
Equals=[]
for c in d:
    zed=c.lower()
    for b in brand:      
        br=b.lower()
        if br in zed:
            Equals.append(b)
N_df['Brand']=Equals

In [32]:
brand_name=[]
vec_name=[]
for i in range(len(N_df.Brand)):
    j=len(N_df.Brand[i])
    zem=N_df.Name[i][1:j+1]
    zms=N_df.Name[i][j+2:]
    nun=zem.replace(" ", "-")
    nan=zms.replace(" ","-")
    brand_name.append(nun)
    vec_name.append(nan)

In [33]:
N_df["Brands"]=brand_name
N_df["vec_name"]=vec_name

In [34]:
mpg=clean_car1.MPG
city_mpg=[]
high_mpg=[]
for c in mpg:
    city=c[0:2]
    highway=c[9:11]
    city_mpg.append(city)
    high_mpg.append(highway)

clean_car1["City"]=city_mpg
clean_car1["Highway"]=high_mpg
clean_car1.drop(columns='MPG',inplace=True)

In [35]:
clean_car1['City']=clean_car1['City'].astype(int)
clean_car1['Highway']=clean_car1['Highway'].astype(int)
clean_car1['Year']=clean_car1['Year'].astype(int)
clean_car1['Miles']=clean_car1['Miles'].astype(int)
clean_car1['Price']=clean_car1['Price'].astype(int)

In [38]:
charg=['Turbocharged','Regular','Supercharged']
Turbos={}
i=0
while i<=len(charg)-1:
    j=charg[i]
    Turbos[j]=i
    i=i+1

In [39]:
#converating turbo to numbers 
Char=clean_car1.Engine
list_Tur = []
list_Turb= []
i=0
for Charge in Char:
    Cha=Charge.lower()
    for Turb in charg:      
        Turbo=Turb.lower()
        if Turbo in Cha :
            list_Tur.append(Turb)
            break
    else:
        list_Tur.append("Regular")
while i<len(list_Tur):
    k=list_Tur[i]
    nume=Turbos[k]
    list_Turb.append(nume)
    i=i+1   
clean_car1["Turbo"]=list_Turb

In [40]:
lis_cyl=[]
for i in range(len(Char)):
    lis_cyl.append(clean_car1["Engine"][i][5:13])
clean_car1["Temp"]=lis_cyl

In [41]:
Cy=['3','4','5','6','7','8','9','10','11','12']
Cylinder={}
i=0
while i<=len(Cy)-1:
    j=Cy[i]
    Cylinder[j]=i
    i=i+1

In [42]:
#getting number of cyl for each cars
Cyl=clean_car1.Temp
list_cyl = []
list_cylin= []
i=0
for Cyla in Cyl:
    Cys=Cyla.lower()
    for Cyli in Cy: 
        Cylin=Cyli.lower()
        if Cylin in Cys:
            list_cyl.append(Cyli)
clean_car1["Cylinder"]=list_cyl

In [43]:
types=clean_car1["DriveType"]
tye=pd.unique(types)
tye

array(['AWD', 'FWD', '4WD', 'RWD'], dtype=object)

In [44]:
ty=['AWD', 'FWD', '4WD', 'RWD']
Types={}
i=0
while i<=len(ty)-1:
    j=ty[i]
    Types[j]=i
    i=i+1

In [45]:
#convaration drivetypes to number 
Ty=clean_car1.DriveType
list_Ty = []
list_Typ= []
i=0
for Typ in Ty:
    Typs=Typ.lower()
    for tys in ty: 
        typs=tys.lower()
        if typs in Typs:
            list_Ty.append(tys)
while i<len(list_Ty):
    k=list_Ty[i]
    nums=Types[k]
    list_Typ.append(nums)
    i=i+1
clean_car1["DrivingType"]=list_Typ

In [46]:
clean_Vi=clean_car1["Vin"].copy()
clean_Vin=pd.DataFrame(clean_Vi)

In [47]:
names1=clean_car1["Name"]

In [48]:
clean_car1.to_csv("clean_car.csv",header=True)
clean_Vin.to_csv("clean_Vins.csv",header=True)
N_df.to_csv("Clean_vech.csv",header=True)